body {
    background-color: #ff758c;
    text-align: center;
    font-family: Arial, sans-serif;
}

.flower-selection-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #fff;
}

p {
    color: #fff;
}

.flower-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.flower {
    width: 120px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.flower:hover {
    transform: scale(1.1);
}
